@model IEnumerable<ItemModel>

@{
    ViewBag.Title = "Home";
}

<h1>@ViewBag.Title - Página inicial</h1>

<div class="d-flex justify-content-center align-items-center h-100">
    @if (Model.Count() == 0)
    {
        <p>Não há nada dentro do Model.</p>
    }
    <div class="spinner"></div>
</div>